<div style="width:400px;">
<div>{% ifnotequal page 1 %}<span><a href="/devel/?page={{ page|add:"-1" }}{% if type %}&amp;type={{ type }}{% endif %}">前へ</a></span>{% else %}&nbsp;{% endifnotequal %}<span style="float:right;"><a href="/devel/?page={{ page|add:"1" }}{% if type %}&amp;type={{ type }}{% endif %}">次へ</a></span></div>
<div>
<img src="{{ STATIC_URL }}devel/img/{% if type %}{{ type }}/{% endif %}{{ img_num }}.jpg" /><br />
</div>
<div>
<span><a href="/devel/">Tシャツ</a></span>
<span><a href="/devel/?type=skirts">スカート</a></span>
<span><a href="/devel/?type=pants">パンツ</a></span>
<span><a href="/devel/?type=tops">トップス</a></span>
<span><a href="/devel/?type=one_piece">ワンピース・チュニック</a></span>
<span><a href="/devel/?type=jacket">ジャケット</a></span>
</div>
